.tabs {
  display: flex;
  margin-left: 1rem;
  padding: 1rem 0;
  justify-content: center;
}
.tab {  
  margin-right: 1rem;
  border-bottom: 5px solid #f6f6f6;
  cursor: pointer;
  
}

.tab.active {
  border-bottom: 5px solid #5a1f8a;
}

.tab-link {
  padding: 1rem 0.5rem;
  text-decoration: none;
  color: #333333;
  display: inline-block;
}
